body {
	font-family: 'Oswald', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.5em;
	overflow-x: hidden; /* Hide horizontal scrollbar */
}

.slide1 {
	padding: auto;
	margin: auto;
	background-image: url("https://images.unsplash.com/photo-1528190336454-13cd56b45b5a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80");
	background-position: 0 -200px;
	background-repeat: no-repeat;
	background-size: cover;
}

.slide3 {
	background-color: #DCCCAB;
}

.slide1About {
	padding: auto;
	margin: auto;
	background-image: url("../img/imajiLoka.png");
	background-repeat: no-repeat;
	background-size: cover;
}


.inner_main_menu {
	padding-top: 60px;
	margin: 0 auto;
	width: 1170px;
}

.inner_main_menu ul {
	margin: 0;
	padding: 10px 0 0;
	list-style: none;
	text-align: right;
}

.inner_main_menu ul li {
	float: none;
	display: inline-block;
	position: relative
}

.inner_main_menu ul li:nth-child(1) {
	float: left;
}

.inner_main_menu ul li:nth-child(2) {
	float: left;
}

.inner_main_menu ul li:nth-child(3) {
	float: left;
}

.inner_main_menu ul li a {
	color: #466C74;
	font-size: 25px;
	text-decoration: none;
	display: block;
	padding: 15px 20px;
}

.inner_main_menu ul li a:hover {
	color: #C25A37
}

.inner_main_menu ul li:hover {
	color: #C25A37
}

.inner_main_menu ul li ul {
	position: absolute;
	top: 40px;
	left: -9999999px;
	width: 200px;
	background: #262626;
	padding: 0;
}

.inner_main_menu ul li:hover ul {
	color: #C25A37;
	left: 0px;
}

.inner_main_menu ul li ul li {
	float: left;
	width: 100%;
	text-align: left;
}

.inner_main_menu ul li ul li a {
	color: #fff;
	text-transform: capitalize;
	font-size: 15px;
}

.inner_main_menu ul li ul li a:hover {
	background: #ddd;
	color: #262626;
}

.inner_main_menu ul li ul li ul {
	top: 0;
	left: -999999px;
}

.inner_main_menu ul li:hover ul li ul {
	top: 0;
	left: -999999px;
}

.inner_main_menu ul li ul li:hover ul {
	top: 0;
	left: 200px;
}

.inner_main_menu ul li:hover a {
	color: #6FDA44
}

.inner_main_menu ul li:hover ul li a {
	color: #ffffff
}

.inner_main_menu ul li ul li a:hover {
	color: #262626
}

.inner_main_menu ul li ul li:hover a {
	background: #ddd;
	color: #262626;
}

.inner_main_menu ul li ul li:hover ul li a {
	background: #262626;
	color: #fff;
}

.inner_main_menu ul li ul li ul li a:hover {
	background: #ddd;
	color: #262626;
}

.slicknav_menu {
	font-size: 16px;
	padding: 5px;
	display: none;
	position: fixed;
	right: 0;
	width: 100%;
	z-index: 99999;
}

ul.slicknav_nav {
	background: #262626 none repeat scroll 0 0;
	left: 0;
	position: absolute;
	top: 0;
	width: 80%;
}

.slicknav_btn {
	top: 35px;
}

#menu {
	background-color: #466c74;
	border-radius: 30px;
}

#main_menu {
	width: 100%;
	position: relative;
}

.logo_area {
	width: 300px;
	height: 300px;
	position: absolute;
	left: 50%;
	top: 0;
	content: "";
	margin-left: -150px;
	text-align: center;
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
	.slicknav_menu {
		display: block;
	}
	.inner_main_menu {
		display: none;
	}
	.logo_area {
		height: auto;
		left: 0;
		margin-left: 0;
		position: relative;
		top: 0;
		width: 130px;
	}
	.logo_area img {
		height: auto;
		width: 100%;
	}
}